mtd4
cramfs/
release/
other/
/tmp
patch.log

*.pcap
*.img

/d1_*.h264
/d1_*.mp4
/d1_*.log
/d1_video_capture

/src/audio_bridge/audio_bridge
/src/audio_bridge/*.o
/src/audio_bridge/*.so
/src/sip_media/sip_media
/src/sip_media/wibox-media-daemon
/src/sip_media/*.o
/src/video_rtp_bridge/video_rtp_bridge

arm-goke-linux-uclibcgnueabi

.config
/defconfig*

include/bin/mosquitto_*
include/bin/strace
include/bin/ipctool
include/bin/scp
include/bin/dbclient
include/bin/dropbear*
include/sbin/dropbear*
vrfy/
cramfsck
mkcramfs
cramfs/
release/
mtd4
mkcramfs
cramfsck
mtd4.bak
research/sofia_re/
.codebase-memory/
