mtd4
cramfs/
release/
other/
/tmp
patch.log

*.pcap
*.img

/d1_*.h264
/d1_*.mp4
/d1_*.log
/d1_video_capture

arm-goke-linux-uclibcgnueabi

.config
/defconfig*

include/bin/mosquitto_*
include/bin/strace
include/bin/ipctool
include/bin/scp
include/bin/dbclient
include/bin/dropbear*
include/sbin/dropbear*
vrfy/
cramfsck
mkcramfs
cramfs/
release/
mtd4
mkcramfs
cramfsck
mtd4.bak
research/sofia_re/
